APP_NAME=Cloud Monitoring & Incident Response Platform
APP_VERSION=1.0.0

DEBUG=False

HOST=0.0.0.0
PORT=8000

CPU_WARNING=80
CPU_CRITICAL=90

MEMORY_WARNING=80
MEMORY_CRITICAL=90

DISK_WARNING=80
DISK_CRITICAL=90
